@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);  

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-muted: var(--muted);

  --color-card: var(--card);
  --color-card-soft: var(--card-soft);

  --color-border: var(--border);
  --color-shadow: var(--shadow);
}

@layer base {

  /* Light mode — Golden Glow */
  :root {
    --background: #ffffff;
    --card: #dcdbdb;
    --card-soft: #eff3f4;

    --foreground: #1A1A1A;
    --muted: #666666;

    --primary: #C9A24D;
    --primary-foreground: #FFFFFF;
    --accent: #8A6A2B;

    --border: #EFEFEF;
    --shadow: 1px 6px 16px rgba(0, 0, 0, 0.1);
  }

  /* Dark mode — safe & premium */
  .dark {
     --background: #0f172a;    
  --card: #27364d;           
  --card-soft: #334155; 

    --foreground: #F5F5F5;
    --muted: #A1A1A1;

    --primary: #D4B35F;
    --primary-foreground: #1A1A1A;
    --accent: #B89A4A;

    --border: #2A2A2A;
    /* --shadow: 1px 6px 16px 0px rgba(0, 0, 0, 0.1); */
    --shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
  }


  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-feature-settings: "rlig" 1, "calt" 1;
    -moz-font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {

  #root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--background);
  }


  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

}